## Data Science Tools and  Ecosystem

#### In this notebook, Data Science Tools and Ecosystems are summarized.

## Objectives:
* List popular libraries for data science
* List popular languages for data science
* Example of Arithmetic Expression in Python

##### Some of the popular languages that Data Scientists use are: 
1. Python language
2. R language
3. SQL

## Data Science libraries
###### Some of the commonly used libaray used by data scientists include:
1. Numpy
2. Pandas
3. Tensorflow
4. Matplotlib
5. Scipy

## Data Science Tools
| Data Science Tools |
| ------------------ |
|Python |
|SQL |
|R |
|Git |

## Arithmetic Expression

#### Below are a few example of evaluating arithmetic expressions in python

1. Addition ( + )
2. Minus ( - )
3. Multiplication ( * )
4. Division ( / )

In [2]:
# This is a simple arithmetic expression to multiply then add integers

(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

hours = 200 / 60
print(hours)

3.3333333333333335

## Author Name
Mayowa